.BookshelfAdd {
    padding: 60px 0;
    /*background: rgb(195,71,34);*/
    /*background: radial-gradient(circle, rgba(195,71,34,1) 0%, rgba(253,187,45,1) 100%);*/
}

.BookshelfAdd form {
    margin: 0 auto;
    padding: 20px;
    max-width: 520px;
    border: 1px solid #000000;
    border-radius: 6px;
    /*background: rgb(195,71,34);*/
    /*background: radial-gradient(circle, rgba(195,71,34,1) 0%, rgba(253,187,45,1) 100%);*/
    -webkit-box-shadow: 1px 1px 5px 1px #000000;
    box-shadow: 1px 1px 5px 1px #000000;
}