
.InfoFrame{
    border: black solid 1px;
    background: #f3edd4;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.BookshelfBookListFrame{
    border-radius: 6px;
    border: black solid 1px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    max-width: 500px;

}