.logRow:hover {
    cursor: pointer;
}

.logs {
    border-radius: 12px;
    border: 2px solid #000000;
    padding: 1px 2px 1px 1px;
    -webkit-box-shadow: 1px 1px 5px 1px #000000;
    box-shadow: 1px 1px 5px 1px #000000;
}

.logsButtons {

    text-align: end;
    align-content: end;
    margin-top: 10px;
    margin-right:50px;
    padding: 5px;
}

.activeFilters{
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 1px #000000;
    box-shadow: 1px 1px 5px 1px #000000;
    align-content: start;
    text-align: start;
    padding: 8px;
}

.sortDiv{
    display: inline-block;
}

.logInfo{
    border-radius: 6px;
    border: 2px solid #000000;
    margin: 10px;
}
.logInfo .row{
    margin: 10px;
}
.logInfo .col{
    margin: 10px;
    background: red !important;
    border-radius: 6px;
 }
.INFO *{
    color: green !important;
}
.WARN *{
    color: darkorange !important;
}
.ERROR *{
    color: red !important;
}