

#footer {
    max-height: 80px;
    flex: 1;
    border: 1px solid;
    border-radius: 0px 0px 15px 15px;
    background: #f3edd4
    /*background: rgb(195,71,34);*/
    /*background: linear-gradient(180deg, rgba(195,71,34,1) 0%, rgba(253,187,45,1) 100%);*/
}

.View{
    border: 1px solid;
    background: #F5F3EA;
}

